%p
	Checkout
	= link_to "my latest work", vfx_path
	done at Realise Studio.
	I am very happy with this one since
	I had to take care of the whole character.
	
%p
	That made the job more artistic than what I am used to in a way,
	even though that guy is technically very complex.
	He is only built out of fibers, so you can see through him,
	while he still has a very defined shape.
	
%p
	Needless to say that the rendering that Amir and Paul made
	is also fantastic so the whole thing looks very solid.

%p
	And I should say "those" guys, since there are 2 variations of him,
	one basketball and one badmington player,
	and there are up to 26 of them in the badminton spot.

%p
	= link_to "Watch it here", vfx_path
