There is a new
= link_to 'press', press_path
section, where you'll find articles
about work I have or will be related too.
For a start, There are two articles about
= link_to "Avatar.", 'http://www.imdb.com/title/tt0499549/'

