Welcome to the new website!

Although the previous website design was visually interesting,
it was far from ideal to update regularly.
This new one will allow me to easily add informations about recent activity or new projects.

