.Padder
.film
	.row	
		.span4.offset2
			= image_tag 'projects/film/seeds/moon.jpg'
			= image_tag 'projects/film/seeds/panic_room.jpg'
		.span3
			%h3.title Seeds
			%p By Guillaume Fradin

			%p
				%a.btn.btn-success{:href=>film_seeds_script_path}
					%i.icon-white.icon-download
					Download Screenplay
			%p
				%a.btn.btn-primary{:href=>film_seeds_presentation_path}
					%i.icon-white.icon-download
					Download Presentation


	.row.film_footer
		.span2.offset1
			= link_to "< home", root_path