.Padder
.row	
	.span2.offset1
		= image_tag 'seeds.jpg'
	.span6
		%p.title Seeds
		%p By Guillaume Fradin

		%p
			= link_to "full script", film_seeds_script_path
		%p
			= link_to "presentation", film_seeds_presentation_path


.row
	.span2.offset1
		= link_to "< home", root_path