/* line 14, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 39, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 68, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 70, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 71, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 72, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 73, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 74, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 75, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 76, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 80, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 22, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 26, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 30, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 81, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 82, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 83, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 84, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 85, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 86, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 87, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 88, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 89, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 90, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 91, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 92, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 93, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 94, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 95, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 97, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 98, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 99, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 100, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 101, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 102, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 103, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 104, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 105, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 106, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 10, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -62px;
}
/* line 18, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 62px;
}

/* line 20, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 62px;
}

/* line 35, guillaumefradin.sass */
body {
  position: relative;
  background-color: #f9f9ff;
  color: #717177;
}

/* line 41, guillaumefradin.sass */
.title_container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 46, guillaumefradin.sass */
.title_container .title {
  display: inline-block;
  font-size: 50px;
  font-family: museo-sans-1, museo-sans-2;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

/* line 56, guillaumefradin.sass */
.menu_container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 61, guillaumefradin.sass */
.menu_container .menu {
  font-family: museo-sans-1, museo-sans-2;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
  border-top: 1px #e8e8ee solid;
  border-bottom: 1px #e8e8ee solid;
}
/* line 69, guillaumefradin.sass */
.menu_container .menu ul {
  display: inline;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  margin: 0;
  padding: 0;
}
/* line 74, guillaumefradin.sass */
.menu_container .menu ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 83, guillaumefradin.sass */
.menu_container .menu ul li a {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 91, guillaumefradin.sass */
.menu_container .menu ul li:hover a {
  text-decoration: none;
  color: #f9f9ff;
}
/* line 94, guillaumefradin.sass */
.menu_container .menu ul li.current_page {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #f9f9ff;
}
/* line 102, guillaumefradin.sass */
.menu_container .menu ul li.current_page.directing {
  background-color: #9494cb;
}
/* line 104, guillaumefradin.sass */
.menu_container .menu ul li.current_page.vfx {
  background-color: #94c6a5;
}
/* line 106, guillaumefradin.sass */
.menu_container .menu ul li.current_page.web {
  background-color: #c694a5;
}
/* line 108, guillaumefradin.sass */
.menu_container .menu ul li.current_page.contact {
  background-color: #b5b5bb;
}
/* line 112, guillaumefradin.sass */
.menu_container .menu ul li.directing:hover {
  background-color: #9494cb;
}
/* line 115, guillaumefradin.sass */
.menu_container .menu ul li.vfx:hover {
  background-color: #94c6a5;
}
/* line 118, guillaumefradin.sass */
.menu_container .menu ul li.web:hover {
  background-color: #c694a5;
}
/* line 120, guillaumefradin.sass */
.menu_container .menu ul li.contact {
  margin-left: 100px;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* line 126, guillaumefradin.sass */
.menu_container .menu ul li.contact:hover {
  background-color: #b5b5bb;
}
/* line 128, guillaumefradin.sass */
.menu_container .menu ul li a {
  text-decoration: none;
  color: #717177;
}

/* line 134, guillaumefradin.sass */
.main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/* line 135, guillaumefradin.sass */
.main a {
  text-decoration: none;
  color: black;
}
/* line 138, guillaumefradin.sass */
.main a:hover {
  color: #f9f9ff;
  background-color: #2d2d33;
}
/* line 141, guillaumefradin.sass */
.main a.img_link {
  background-color: #f9f9ff;
}
/* line 147, guillaumefradin.sass */
.main .section {
  margin-top: 40px;
}
/* line 149, guillaumefradin.sass */
.main .section .title {
  font-size: 18px;
  background-color: #c0b3e6;
  color: #4e3399;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
}
/* line 158, guillaumefradin.sass */
.main .section .content {
  font-size: 14px;
}

/* line 161, guillaumefradin.sass */
.footer_container {
  width: 100%;
  bottom: 0px;
  background-color: #b5b5bb;
  text-align: right;
  border-top: 1px #717177 solid;
  padding-top: 4px;
  padding-bottom: 4px;
}
/* line 172, guillaumefradin.sass */
.footer_container .footer {
  margin-right: 20px;
}
/* line 175, guillaumefradin.sass */
.footer_container .footer ul {
  display: inline;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  margin: 0;
  padding: 0;
}
/* line 180, guillaumefradin.sass */
.footer_container .footer ul li {
  display: inline;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 188, guillaumefradin.sass */
.footer_container .footer ul li a {
  display: inline-block;
  width: 48px;
  height: 48px;
}
/* line 195, guillaumefradin.sass */
.footer_container .footer ul li a.imdb {
  background-image: url("/images/embed/imdb.png");
}
/* line 197, guillaumefradin.sass */
.footer_container .footer ul li a.vimeo {
  background-image: url("/images/embed/vimeo.png");
}
/* line 201, guillaumefradin.sass */
.footer_container .footer ul li a.linkedin {
  background-image: url("/images/embed/linkedin.png");
}
