.section
	.title
		Puppet
	.content
		%a{:class=>'img_link', :href=>'http://www.arewepuppets.com'}
			= image_tag '/images/pantin.jpg'
		%p
			Wrote, Directed and Produced 
			= link_to "Puppet,", 'http://www.imdb.com/title/tt1413837/'
			a 35 min movie
			
		%p
			Check the trailer here or the full movie on its
			= link_to "official website", "http://www.arewepuppets.com"
			
		= render 'layouts/vimeo_puppet_trailer'

