.section
	.title
		Interview with Cayus by effets-speciaux.info
	.content
	
		= image_tag "effets_speciaux_avatar_interview_head_crop.jpg"
		
		My very good friend Cayus and I had the opportunity to be interviewed
		for our work on Avatar.
		Read
		= link_to "the whole piece here", "http://www.effets-speciaux.info/article?id=304"
		(french only)
	

.section
	.title
		Interview on SideFX
	.content
		
		= image_tag "sidefx_avatar_interview.jpg"
		
		If technical hints on Framestore FX team for Avatar sound interesting to you,
		= link_to "head over here!", "http://www.sidefx.com/index.php?option=com_content&task=view&id=1694&Itemid=68"
			
		
		
