.section
	.title
		="Bookmark any moment in any media"
	.content
		%a{:class=>'img_link', :href=>'http://www.everytimehq.com'}
			= image_tag '/images/everytime_logo.jpg', :width=>"70%"
		%p
			Everytime is a web application that allows you
			to bookmark any moment in any media, audio or video, online or on your local computer.
	
		%p
			This is a great creativity tool for anyone who finds inspiration in movies or music.
			= link_to "Check it out!", 'http://www.everytimehq.com'
		

.section
	.title
		="Houdini Market Place"
	.content
		%a{:class=>'img_link', :href=>'http://www.vfxtoolbox.com'}
			= image_tag 'http://prod.vfxtoolbox.us.s3.amazonaws.com/assets/images/vfxtoolbox_beta.png'
		%p
			VFXtoolbox is a market place dedicated to Houdini tools and tutorials.
		%p
			Do you want to learn about houdini? or want to make tools and tutorials?
		%p
			Then come and
			= link_to "join the community!", 'http://www.vfxtoolbox.com'
		
		
