.Padder
.film
	.row	
		.span4.offset2
			= image_tag 'projects/film/seeds/moon.jpg'
			= image_tag 'projects/film/seeds/panic_room.jpg'
		.span3
			%h3.title Seeds
			%p By Guillaume Fradin

			%p
				Screenplay and synopsis available on request


	.row.film_footer
		.span2.offset1
			= link_to "< home", root_path