

%div
	%p
		The screenplay 'Seeds' won the bronze award in the sci-fi category at the 
		= link_to("Beverly Hills Screenplay Contest", "https://beverlyhillsscreenplaycontest.com/awards/2013-winners")+"."
	%p
		This is a concept film to give a glimpse of the intended tone. Film currently in development. Screenplay available on request.

	%p
		%strong password: 'seeds'
		

%div
	= vimeo(116912627)

