@import "bootstrap_and_overrides"

$normal_color: #666

body
	:color $normal_color
.Padder
	:padding
		:top 20px

.title
	:font-size 20px
	//:color #484


.section_title
	//:color #966
	:font-weight bold
	:font-size 16px

.section_content
	:font-size 14px
	a
		:color $normal_color
		&:hover
			:color $normal_color
