#footer
	%table
		%tr
			
			%td
				%ul{:class=>"left"}
					%li
						guillaume@guillaumefradin.com
					%li
						+33 6 74 58 47 98
			
			%td
				%ul{:class=>"right"}
					%li
						%a{:class=>'imdb', :href=>'http://www.imdb.com/name/nm3070328/'}
					%li
						%a{:class=>'vimeo', :href=>'http://vimeo.com/user1357082'}
					-#%li
					-#	%a{:class=>'facebook', :href=>'http://www.facebook.com/'}
					%li
						%a{:class=>'linkedin', :href=>'http://www.linkedin.com/in/guillaumefradin'}
					-#%li
					-#	%a{:class=>'twitter', :href=>'http://www.twitter.com/'}
					
					

