.menu_container
	.menu
		%ul
			= link_to_custom "DIRECTING", directing_path, "directing"
			= link_to_custom "VISUAL EFFECTS", vfx_path, "vfx"
			= link_to_custom "WEB", web_path, "web"
			= link_to_custom "NEWS", root_path, "news"
				
				
