.menu_container
	.menu
		%ul
			= link_to_custom "Directing", directing_path
			= link_to_custom "Visual Effects", vfx_path
			= link_to_custom "Web", web_path
			= link_to_custom "Contact", contact_path, "contact"
				
				
