!!!
%html
	%head
		%title
			Guillaume Fradin
		-#= csrf_meta_tag
		-#= raw(include_stylesheets :all)
		-#= auto_discovery_link_tag :atom, feedburner_url
		%meta{:name=>"description", :content=>"Guillaume Fradin"}
		%meta{:name=>"keywords", :content=>"Guillaume Fradin PrintMosaic Everytime Puppet"}
		%meta{:name=>"author", :content=>"Guillaume Fradin"}
		%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"} 
		= stylesheet_link_tag "application", :media => "all"
		
	%body
		.container
			=yield
